<!DOCTYPE html>
<html lang="en" ng-app="recorder">
  <head>
    <meta charset="utf-8">
    <title>Recording to mp3</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="scripts/controllers/record.js"></script>
  </head>
  <body ng-controller="RecorderController">
    <div class="container well">
      <h1 class="text-center">Record from the Browser </h1>
      <div class="row">
        <div class="col-xs-6 text-center">
          <label>Sample Rate: <select ng-model="samplerate" ng-options="s + ' Hz' for s in samplerates"></select></label>
        </div>
        <div class="col-xs-6 text-center">
          <label>Bit Rate: <select ng-model="bitrate" ng-options="b + ' kbps' for b in bitrates"></select></label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 text-center"><button class="btn btn-danger" ng-click="startRecording()" ng-disabled="recording"><i class="icon-circle" ng-class="recordButtonStyle"></i>&nbsp;Start recording</button></div>
        <div class="col-xs-6 text-center"><button class="btn btn-success" ng-click="stopRecording()" ng-disabled="!recording"><i class="icon-stop"></i>&nbsp;Stop recording</button></div>
      </div>
      <div class="row">
        <div class="text-center" ng-show="recording">
          <span class="text-warning">Recording... ({{printTime}})</label></span>
        </div>
      </div>
      <div ng-show="recordings.length">
        <h2>Recordings</h2>
        <ul class="list-group" id="recordingslist">
          <li class="list-group-item" ng-repeat="record in recordings">
            <audio ng-src="{{trustSrc(record.url)}}" controls></audio>
            <a class="btn btn-success pull-right" href="{{record.url}}" download="{{record.name}}">Download</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
